<!-- wp:template-part {"slug":"header","theme":"ollie","area":"uncategorized"} /-->

<!-- wp:group {"style":{"spacing":{"margin":{"top":"var:preset|spacing|xxxx-large","bottom":"var:preset|spacing|xxxx-large"}}},"layout":{"type":"constrained"}} -->
<div
  class="wp-block-group"
  style="
    margin-top: var(--wp--preset--spacing--xxxx-large);
    margin-bottom: var(--wp--preset--spacing--xxxx-large);
  "
>
  <!-- wp:group {"gridBreakpoints":[{"value":1024,"label":"1024px"},{"value":768,"label":"768px"}],"gridBreakpointSettings":{"768":{"columnCount":1},"1024":{"columnCount":2}},"align":"wide","layout":{"type":"flex","flexWrap":"wrap","justifyContent":"space-between","verticalAlignment":"stretch"}} -->
  <div class="wp-block-group alignwide">
    <!-- wp:group {"align":"wide","style":{"layout":{"selfStretch":"fill","flexSize":null}},"layout":{"type":"default"}} -->
    <div class="wp-block-group alignwide">
      <!-- wp:post-featured-image {"style":{"border":{"width":"2px","color":"#4a6f8a","radius":{"topLeft":"var:preset|border-radius|xs","topRight":"var:preset|border-radius|xs","bottomLeft":"var:preset|border-radius|xs","bottomRight":"var:preset|border-radius|xs"}}}} /-->

      <!-- wp:create-block/dhali-breadcrumbs {"crumbsSeparator":"/","separatorSpacing":5,"style":{"elements":{"link":{"color":{"text":"var:preset|color|custom-color-1"}}}},"textColor":"custom-color-3"} /-->

      <!-- wp:post-title {"align":"wide","style":{"elements":{"link":{"color":{"text":"var:preset|color|custom-color-1"}}}},"textColor":"custom-color-1"} /-->
    </div>
    <!-- /wp:group -->

    <!-- wp:group {"style":{"layout":{"selfStretch":"fixed","flexSize":"350px"},"dimensions":{"minHeight":"px"}},"layout":{"type":"flex","orientation":"vertical","verticalAlignment":"space-between","justifyContent":"stretch"}} -->
    <div class="wp-block-group" style="min-height: px">
      <!-- wp:group {"style":{"layout":{"selfStretch":"fill","flexSize":null},"border":{"width":"2px","color":"#1da76d","radius":{"topLeft":"var:preset|border-radius|xs","topRight":"var:preset|border-radius|xs","bottomLeft":"var:preset|border-radius|xs","bottomRight":"var:preset|border-radius|xs"}},"spacing":{"blockGap":"var:preset|spacing|small"}},"layout":{"type":"default"},"blockVisibility":{"controlSets":[{"id":1,"enable":true,"controls":{"metadata":{"ruleSets":[{"enable":true,"rules":[{"field":"postMetadata","operator":"empty","subField":"page_view_details_days_offered"},{"field":"postMetadata","operator":"empty","subField":"page_view_details_class_duration"},{"field":"postMetadata","operator":"empty","subField":"page_view_details_class_type"}]}],"hideOnRuleSets":true}}}]}} -->
      <div
        class="wp-block-group has-border-color"
        style="
          border-color: #1da76d;
          border-width: 2px;
          border-top-left-radius: var(--wp--preset--border-radius--xs);
          border-top-right-radius: var(--wp--preset--border-radius--xs);
          border-bottom-left-radius: var(--wp--preset--border-radius--xs);
          border-bottom-right-radius: var(--wp--preset--border-radius--xs);
        "
      >
        <!-- wp:group {"style":{"elements":{"link":{"color":{"text":"var:preset|color|base"}}},"spacing":{"padding":{"top":"24px","bottom":"24px","left":"12px","right":"12px"}}},"backgroundColor":"custom-color-4","textColor":"base","layout":{"type":"constrained"},"blockVisibility":{"controlSets":[{"id":1,"enable":true,"controls":{"metadata":{"ruleSets":[{"enable":true,"rules":[{"field":""}]}],"hideOnRuleSets":false}}}]}} -->
        <div
          class="wp-block-group has-base-color has-custom-color-4-background-color has-text-color has-background has-link-color"
          style="
            padding-top: 24px;
            padding-right: 12px;
            padding-bottom: 24px;
            padding-left: 12px;
          "
        >
          <!-- wp:heading {"textAlign":"center","level":3,"style":{"typography":{"textTransform":"capitalize"}}} -->
          <h3
            class="wp-block-heading has-text-align-center"
            style="text-transform: capitalize"
          >
            details
          </h3>
          <!-- /wp:heading -->
        </div>
        <!-- /wp:group -->

        <!-- wp:group {"style":{"spacing":{"padding":{"right":"var:preset|spacing|small","left":"var:preset|spacing|small","top":"0","bottom":"var:preset|spacing|small"},"blockGap":"var:preset|spacing|small"},"elements":{"link":{"color":{"text":"var:preset|color|custom-color-6"}}}},"textColor":"custom-color-6","layout":{"type":"constrained"},"blockVisibility":{"controlSets":[{"id":1,"enable":true,"controls":{"metadata":{"ruleSets":[{"enable":true,"rules":[{"field":""}]}],"hideOnRuleSets":false}}}]}} -->
        <div
          class="wp-block-group has-custom-color-6-color has-text-color has-link-color"
          style="
            padding-top: 0;
            padding-right: var(--wp--preset--spacing--small);
            padding-bottom: var(--wp--preset--spacing--small);
            padding-left: var(--wp--preset--spacing--small);
          "
        >
          <!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap"},"blockVisibility":{"controlSets":[{"id":1,"enable":true,"controls":{"metadata":{"ruleSets":[{"enable":true,"rules":[{"field":"postMetadata","operator":"empty","subField":"page_view_details_days_offered"}]}],"hideOnRuleSets":true}}}]}} -->
          <div class="wp-block-group">
            <!-- wp:outermost/icon-block {"iconName":"wordpress-calendar"} -->
            <div class="wp-block-outermost-icon-block">
              <div
                class="icon-container"
                style="width: 48px; transform: rotate(0deg) scaleX(1) scaleY(1)"
              >
                <svg
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                  aria-hidden="true"
                >
                  <path
                    d="M19 3H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm.5 16c0 .3-.2.5-.5.5H5c-.3 0-.5-.2-.5-.5V7h15v12zM9 10H7v2h2v-2zm0 4H7v2h2v-2zm4-4h-2v2h2v-2zm4 0h-2v2h2v-2zm-4 4h-2v2h2v-2zm4 0h-2v2h2v-2z"
                  ></path>
                </svg>
              </div>
            </div>
            <!-- /wp:outermost/icon-block -->

            <!-- wp:group {"style":{"spacing":{"blockGap":"0"}},"layout":{"type":"flex","orientation":"vertical"}} -->
            <div class="wp-block-group">
              <!-- wp:heading {"level":4} -->
              <h4 class="wp-block-heading">Days Offered</h4>
              <!-- /wp:heading -->

              <!-- wp:mfb/meta-field-block {"fieldType":"acf","fieldName":"page_view_details_days_offered"} /-->
            </div>
            <!-- /wp:group -->
          </div>
          <!-- /wp:group -->

          <!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap"},"blockVisibility":{"controlSets":[{"id":1,"enable":true,"controls":{"metadata":{"ruleSets":[{"enable":true,"rules":[{"field":"postMetadata","operator":"empty","subField":"page_view_details_class_duration"}]}],"hideOnRuleSets":true}}}]}} -->
          <div class="wp-block-group">
            <!-- wp:outermost/icon-block {"iconName":"ollie-phosphor-clock-clockwise"} -->
            <div class="wp-block-outermost-icon-block">
              <div
                class="icon-container"
                style="width: 48px; transform: rotate(0deg) scaleX(1) scaleY(1)"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 256 256"
                  fill="currentColor"
                >
                  <path
                    d="M136,80v43.47l36.12,21.67a8,8,0,0,1-8.24,13.72l-40-24A8,8,0,0,1,120,128V80a8,8,0,0,1,16,0Zm88-24a8,8,0,0,0-8,8V82c-6.35-7.36-12.83-14.45-20.12-21.83a96,96,0,1,0-2,137.7,8,8,0,0,0-11-11.64A80,80,0,1,1,184.54,71.4C192.68,79.64,199.81,87.58,207,96H184a8,8,0,0,0,0,16h40a8,8,0,0,0,8-8V64A8,8,0,0,0,224,56Z"
                  ></path>
                </svg>
              </div>
            </div>
            <!-- /wp:outermost/icon-block -->

            <!-- wp:group {"style":{"spacing":{"blockGap":"0"}},"layout":{"type":"flex","orientation":"vertical"}} -->
            <div class="wp-block-group">
              <!-- wp:heading {"level":4} -->
              <h4 class="wp-block-heading">Class Duration</h4>
              <!-- /wp:heading -->

              <!-- wp:mfb/meta-field-block {"fieldType":"acf","fieldName":"page_view_details_class_duration"} /-->
            </div>
            <!-- /wp:group -->
          </div>
          <!-- /wp:group -->

          <!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap"},"blockVisibility":{"controlSets":[{"id":1,"enable":true,"controls":{"metadata":{"ruleSets":[{"enable":true,"rules":[{"field":"postMetadata","operator":"empty","subField":"page_view_details_class_type"}]}],"hideOnRuleSets":true}}}]}} -->
          <div class="wp-block-group">
            <!-- wp:outermost/icon-block {"iconName":"ollie-phosphor-users-four"} -->
            <div class="wp-block-outermost-icon-block">
              <div
                class="icon-container"
                style="width: 48px; transform: rotate(0deg) scaleX(1) scaleY(1)"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 256 256"
                  fill="currentColor"
                >
                  <path
                    d="M27.2,126.4a8,8,0,0,0,11.2-1.6,52,52,0,0,1,83.2,0,8,8,0,0,0,11.2,1.59,7.73,7.73,0,0,0,1.59-1.59h0a52,52,0,0,1,83.2,0,8,8,0,0,0,12.8-9.61A67.85,67.85,0,0,0,203,93.51a40,40,0,1,0-53.94,0,67.27,67.27,0,0,0-21,14.31,67.27,67.27,0,0,0-21-14.31,40,40,0,1,0-53.94,0A67.88,67.88,0,0,0,25.6,115.2,8,8,0,0,0,27.2,126.4ZM176,40a24,24,0,1,1-24,24A24,24,0,0,1,176,40ZM80,40A24,24,0,1,1,56,64,24,24,0,0,1,80,40ZM203,197.51a40,40,0,1,0-53.94,0,67.27,67.27,0,0,0-21,14.31,67.27,67.27,0,0,0-21-14.31,40,40,0,1,0-53.94,0A67.88,67.88,0,0,0,25.6,219.2a8,8,0,1,0,12.8,9.6,52,52,0,0,1,83.2,0,8,8,0,0,0,11.2,1.59,7.73,7.73,0,0,0,1.59-1.59h0a52,52,0,0,1,83.2,0,8,8,0,0,0,12.8-9.61A67.85,67.85,0,0,0,203,197.51ZM80,144a24,24,0,1,1-24,24A24,24,0,0,1,80,144Zm96,0a24,24,0,1,1-24,24A24,24,0,0,1,176,144Z"
                  ></path>
                </svg>
              </div>
            </div>
            <!-- /wp:outermost/icon-block -->

            <!-- wp:group {"style":{"spacing":{"blockGap":"0"}},"layout":{"type":"flex","orientation":"vertical"}} -->
            <div class="wp-block-group">
              <!-- wp:heading {"level":4} -->
              <h4 class="wp-block-heading">Class Type</h4>
              <!-- /wp:heading -->

              <!-- wp:mfb/meta-field-block {"fieldType":"acf","fieldName":"page_view_details_class_type"} /-->
            </div>
            <!-- /wp:group -->
          </div>
          <!-- /wp:group -->
        </div>
        <!-- /wp:group -->
      </div>
      <!-- /wp:group -->

      <!-- wp:group {"style":{"layout":{"selfStretch":"fill","flexSize":null},"border":{"width":"2px","color":"#faba32","radius":{"topLeft":"var:preset|border-radius|xs","topRight":"var:preset|border-radius|xs","bottomLeft":"var:preset|border-radius|xs","bottomRight":"var:preset|border-radius|xs"}},"spacing":{"padding":{"top":"0","bottom":"0"},"blockGap":"var:preset|spacing|small"}},"layout":{"type":"default"},"blockVisibility":{"controlSets":[{"id":1,"enable":true,"controls":{"metadata":{"ruleSets":[{"enable":true,"rules":[{"field":"postMetadata","operator":"empty","subField":"page_view_information_phone"},{"field":"postMetadata","operator":"empty","subField":"page_view_information_email"},{"field":"postMetadata","operator":"empty","subField":"page_view_information_address"}]}],"hideOnRuleSets":true}}}]}} -->
      <div
        class="wp-block-group has-border-color"
        style="
          border-color: #faba32;
          border-width: 2px;
          border-top-left-radius: var(--wp--preset--border-radius--xs);
          border-top-right-radius: var(--wp--preset--border-radius--xs);
          border-bottom-left-radius: var(--wp--preset--border-radius--xs);
          border-bottom-right-radius: var(--wp--preset--border-radius--xs);
          padding-top: 0;
          padding-bottom: 0;
        "
      >
        <!-- wp:group {"style":{"elements":{"link":{"color":{"text":"var:preset|color|base"}}},"spacing":{"padding":{"left":"12px","right":"12px","top":"24px","bottom":"24px"}}},"backgroundColor":"custom-color-5","textColor":"base","layout":{"type":"constrained"}} -->
        <div
          class="wp-block-group has-base-color has-custom-color-5-background-color has-text-color has-background has-link-color"
          style="
            padding-top: 24px;
            padding-right: 12px;
            padding-bottom: 24px;
            padding-left: 12px;
          "
        >
          <!-- wp:heading {"textAlign":"center","level":3,"style":{"typography":{"textTransform":"capitalize"}}} -->
          <h3
            class="wp-block-heading has-text-align-center"
            style="text-transform: capitalize"
          >
            Information
          </h3>
          <!-- /wp:heading -->
        </div>
        <!-- /wp:group -->

        <!-- wp:group {"style":{"spacing":{"padding":{"top":"0","bottom":"var:preset|spacing|small","left":"var:preset|spacing|small","right":"var:preset|spacing|small"},"blockGap":"var:preset|spacing|small"},"elements":{"link":{"color":{"text":"var:preset|color|custom-color-6"}}}},"textColor":"custom-color-6","layout":{"type":"constrained"}} -->
        <div
          class="wp-block-group has-custom-color-6-color has-text-color has-link-color"
          style="
            padding-top: 0;
            padding-right: var(--wp--preset--spacing--small);
            padding-bottom: var(--wp--preset--spacing--small);
            padding-left: var(--wp--preset--spacing--small);
          "
        >
          <!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap"},"blockVisibility":{"controlSets":[{"id":1,"enable":true,"controls":{"metadata":{"ruleSets":[{"enable":true,"rules":[{"field":"postMetadata","operator":"empty","subField":"page_view_information_phone"}]}],"hideOnRuleSets":true}}}]},"animationType":"scaleOnHover"} -->
          <div class="wp-block-group">
            <!-- wp:outermost/icon-block {"iconName":"ollie-phosphor-phone"} -->
            <div class="wp-block-outermost-icon-block">
              <div
                class="icon-container"
                style="width: 48px; transform: rotate(0deg) scaleX(1) scaleY(1)"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 256 256"
                  fill="currentColor"
                >
                  <path
                    d="M222.37,158.46l-47.11-21.11-.13-.06a16,16,0,0,0-15.17,1.4,8.12,8.12,0,0,0-.75.56L134.87,160c-15.42-7.49-31.34-23.29-38.83-38.51l20.78-24.71c.2-.25.39-.5.57-.77a16,16,0,0,0,1.32-15.06l0-.12L97.54,33.64a16,16,0,0,0-16.62-9.52A56.26,56.26,0,0,0,32,80c0,79.4,64.6,144,144,144a56.26,56.26,0,0,0,55.88-48.92A16,16,0,0,0,222.37,158.46ZM176,208A128.14,128.14,0,0,1,48,80,40.2,40.2,0,0,1,82.87,40a.61.61,0,0,0,0,.12l21,47L83.2,111.86a6.13,6.13,0,0,0-.57.77,16,16,0,0,0-1,15.7c9.06,18.53,27.73,37.06,46.46,46.11a16,16,0,0,0,15.75-1.14,8.44,8.44,0,0,0,.74-.56L168.89,152l47,21.05h0s.08,0,.11,0A40.21,40.21,0,0,1,176,208Z"
                  ></path>
                </svg>
              </div>
            </div>
            <!-- /wp:outermost/icon-block -->

            <!-- wp:group {"style":{"spacing":{"blockGap":"0"}},"layout":{"type":"flex","orientation":"vertical"}} -->
            <div class="wp-block-group">
              <!-- wp:heading {"level":4,"style":{"typography":{"textTransform":"capitalize"}}} -->
              <h4 class="wp-block-heading" style="text-transform: capitalize">
                Call Us
              </h4>
              <!-- /wp:heading -->

              <!-- wp:mfb/meta-field-block {"fieldType":"acf","fieldName":"page_view_information_phone"} /-->
            </div>
            <!-- /wp:group -->
          </div>
          <!-- /wp:group -->

          <!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap"},"blockVisibility":{"controlSets":[{"id":1,"enable":true,"controls":{"metadata":{"ruleSets":[{"enable":true,"rules":[{"field":"postMetadata","operator":"empty","subField":"page_view_information_email"}]}],"hideOnRuleSets":true}}}]},"animationType":"scaleOnHover"} -->
          <div class="wp-block-group">
            <!-- wp:outermost/icon-block {"iconName":"ollie-phosphor-envelope-open"} -->
            <div class="wp-block-outermost-icon-block">
              <div
                class="icon-container"
                style="width: 48px; transform: rotate(0deg) scaleX(1) scaleY(1)"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 256 256"
                  fill="currentColor"
                >
                  <path
                    d="M228.44,89.34l-96-64a8,8,0,0,0-8.88,0l-96,64A8,8,0,0,0,24,96V200a16,16,0,0,0,16,16H216a16,16,0,0,0,16-16V96A8,8,0,0,0,228.44,89.34ZM96.72,152,40,192V111.53Zm16.37,8h29.82l56.63,40H56.46Zm46.19-8L216,111.53V192ZM128,41.61l81.91,54.61-67,47.78H113.11l-67-47.78Z"
                  ></path>
                </svg>
              </div>
            </div>
            <!-- /wp:outermost/icon-block -->

            <!-- wp:group {"style":{"spacing":{"blockGap":"0"}},"layout":{"type":"flex","orientation":"vertical"}} -->
            <div class="wp-block-group">
              <!-- wp:heading {"level":4,"style":{"typography":{"textTransform":"capitalize"}}} -->
              <h4 class="wp-block-heading" style="text-transform: capitalize">
                Email Us
              </h4>
              <!-- /wp:heading -->

              <!-- wp:mfb/meta-field-block {"fieldType":"acf","fieldName":"page_view_information_email"} /-->
            </div>
            <!-- /wp:group -->
          </div>
          <!-- /wp:group -->

          <!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap"},"blockVisibility":{"controlSets":[{"id":1,"enable":true,"controls":{"metadata":{"ruleSets":[{"enable":true,"rules":[{"field":"postMetadata","operator":"empty","subField":"page_view_information_address"}]}],"hideOnRuleSets":true}}}]},"animationType":"scaleOnHover"} -->
          <div class="wp-block-group">
            <!-- wp:outermost/icon-block {"iconName":"ollie-phosphor-building"} -->
            <div class="wp-block-outermost-icon-block">
              <div
                class="icon-container"
                style="width: 48px; transform: rotate(0deg) scaleX(1) scaleY(1)"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 256 256"
                  fill="currentColor"
                >
                  <path
                    d="M232,224H208V32h8a8,8,0,0,0,0-16H40a8,8,0,0,0,0,16h8V224H24a8,8,0,0,0,0,16H232a8,8,0,0,0,0-16ZM64,32H192V224H160V184a8,8,0,0,0-8-8H104a8,8,0,0,0-8,8v40H64Zm80,192H112V192h32ZM88,64a8,8,0,0,1,8-8h16a8,8,0,0,1,0,16H96A8,8,0,0,1,88,64Zm48,0a8,8,0,0,1,8-8h16a8,8,0,0,1,0,16H144A8,8,0,0,1,136,64ZM88,104a8,8,0,0,1,8-8h16a8,8,0,0,1,0,16H96A8,8,0,0,1,88,104Zm48,0a8,8,0,0,1,8-8h16a8,8,0,0,1,0,16H144A8,8,0,0,1,136,104ZM88,144a8,8,0,0,1,8-8h16a8,8,0,0,1,0,16H96A8,8,0,0,1,88,144Zm48,0a8,8,0,0,1,8-8h16a8,8,0,0,1,0,16H144A8,8,0,0,1,136,144Z"
                  ></path>
                </svg>
              </div>
            </div>
            <!-- /wp:outermost/icon-block -->

            <!-- wp:group {"style":{"spacing":{"blockGap":"0"}},"layout":{"type":"flex","orientation":"vertical"}} -->
            <div class="wp-block-group">
              <!-- wp:heading {"level":4,"style":{"typography":{"textTransform":"capitalize"}}} -->
              <h4 class="wp-block-heading" style="text-transform: capitalize">
                Visit Us
              </h4>
              <!-- /wp:heading -->

              <!-- wp:mfb/meta-field-block {"fieldType":"acf","fieldName":"page_view_information_address"} /-->
            </div>
            <!-- /wp:group -->
          </div>
          <!-- /wp:group -->
        </div>
        <!-- /wp:group -->
      </div>
      <!-- /wp:group -->
    </div>
    <!-- /wp:group -->
  </div>
  <!-- /wp:group -->

  <!-- wp:post-content {"align":"wide","style":{"elements":{"link":{"color":{"text":"var:preset|color|main"}}}},"textColor":"main"} /-->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"ollie","area":"uncategorized"} /-->
